.app {
  height: 100vh;
  color: #fff;
  background: rgb(14, 16, 28);
  min-width: 700px;

  > header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;

    .title {
      font-size: 50px;
      font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    }
    .desc {
      color: #ec5990;
      font-size: 22px;
    }
    .icon {
      position: absolute;
      top: 25px;
      right: 30px;
      cursor: pointer;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  .editor-wrap {
    position: relative;
    // height: 100%;
    display: flex;

    .editor-panel {
      // height: 100%;
      width: 50%;
      padding: 0 50px;

      .editor-header {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        overflow: hidden;
        position: relative;
        line-height: 2;
        margin: 10px auto 20px;
        max-width: 600px;

        &::before,
        &::after {
          background-color: #ec5990;
          content: '';
          display: inline-block;
          height: 1px;
          position: relative;
          vertical-align: middle;
          width: 50%;
        }

        &::before {
          right: 0.5em;
          margin-left: -50%;
        }
        &::after {
          left: 0.5em;
          margin-right: -50%;
        }
      }

      .editor-content {
        width: 100%;
        height: 75vh;
      }
    }
  }

  .parse-error {
    position: absolute;
    left: 25px;
    bottom: -50px;
    color: red;
    padding: 20px 30px;
    background: transparent;
  }
}

// Disable IntelliSense
.monaco-editor .editor-widget {
  display: none !important;
  visibility: hidden !important;
}
